.cart-btn{
    background-color: palevioletred;
    border: 3px solid palevioletred ;
    border-radius: 10px;
    padding: 5px 10px;
}

.log-btn{
    background-color: palevioletred;
    border: 3px solid palevioletred ;
    border-radius: 10px;
    padding: 5px 15px;

}

.proceed-btn{
    background-color: hotpink;
    color: black;
    padding: 10px 40px;
    border: 2px solid hotpink;
    border-radius: 5px;
    box-shadow: 2px 2px;
}

.btn-search{
    background-color:palevioletred;
    color: black;
    padding: 5px 20px;
    border: 2px solid palevioletred;
    border-radius: 5px;
}
.login-btn{
    background-color: palevioletred;
    border: 3px solid palevioletred ;
    border-radius: 10px;
    padding: 5px 25px;
   
}
.heading{
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
   
}
.card-title{
    color: palevioletred;
    font-size: 30px;
    font-weight: 800

}